<nav class="navbar navbar-expand-lg bg-danger" data-bs-theme="dark">
  <div class="container-fluid">
    <img src="../assets/img/logo.webp" class="col-2" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="container mt-2">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<footer
  class="py-3 mt-5 position-relative"
  style="background-color: #28b463; color: white"
>
  <p class="text-center " style="color:white" >© 2022 Company, Inc</p>
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="#" class="nav-link px-2 "  style="color:white">INICIO</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 "  style="color:white">INSTAGRAM</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 "  style="color:white">FACEBOOK</a>
    </li>
  </ul>
  <p class="text-center ">© 2022 Benedetti's Pizza</p>
</footer>
